.btn {
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  transition: 200ms ease-in-out;
  min-width: 100px;
  margin: 10px;
} 

.btn-default {
  background-color: #eaeaea;
}

.btn-default:hover {
  background-color: #fafafa;
}


.btn-blue {
  background-color: skyblue;
}

.btn-blue:hover {
  background-color: blue;
}


.btn-red {
  background-color: orangered;
  color: white;
}

.btn-red:hover {
  background-color: red;
}