.text {
  font-size: 18px;
  line-height: 20px;
  margin: 0 10px 4px 10px;
  color: #333;
}

.text.text-small {
  font-size: 12px;
  line-height: 14px;
}

.text.text-success {
  color: green;
}

.text.text-danger {
  color: red;
}

.text.text-warning {
  color: yellow;
}