.img {
  object-fit: cover;
  height: 300px;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.object-fill {
  object-fit: fill;
}

.img.img-avatar {
  width: 60px;
  height: 60px;
}

.img.img-rounded {
  border-radius: 4px;
}

.img.img-circle {
  border-radius: 50%;
}

.img.img-hidden {
  display: none;
}